@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.page-container{
    width: 100%;
    display: flex;
    align-items: stretch;
}

.nav-block{
    width: 80px;
    height: auto;
}

.content-container{
    width: 100%;
    height: auto;
    padding: 100px 80px 0px 80px;
}

.col-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 200px;
    gap: 100px;
}

.col-reverse{
    flex-direction: row-reverse;
}

.img-col{
    width: 100%;
    display: flex;
    gap: 36px;
}

.col-1{
    width: 40%;
}

.col-2{
    width: 60%;
}

.img-col-block{
    width: 100%;
    background-color: rgba(23, 26, 28, 1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: center;
}

.icon-col-block{
    width: 50%;
    height: 1200px;
    padding: 100px;
    background-color: rgba(23, 26, 28, 1);
    box-sizing: border-box;
}

.video-col-block{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: center;
}

.sketchfab-container{
    width: 100%;
    background-color: rgba(23, 26, 28, 1);
    box-sizing: border-box;
}

.contained-padding{
    padding: 60px;
    box-sizing: border-box;
}

.project-details{
    width: 100%;
    display: flex;
    margin-top: 96px;
    gap: 16px;
}

.stat-col{
    width: 100%;
    display: flex;
    gap: 16px;
}

.stat-1{
    width: 50%;
}

.section-container{
    width: 100%;
    margin-bottom: 200px;
    box-sizing: border-box;
}

.video-wrapper{
    width: 100%;
    height: 900px;
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrapper-sm{
    width: 100%;
    height: 500px;
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detail-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image{
    margin-bottom: 200px;
    width: 100%;
    height: auto;
}

.contained-image{
    width: 100%;
    height: auto;
}

.interview-image{
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.inner-block-container{
    width: 100%;
    padding: 100px;
    margin-bottom: 36px;
    background-color: rgba(23, 26, 28, 1);
    box-sizing: border-box;
}

.triple-box-container{
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.tri-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.tri-grid-box{
    padding: 36px;
    background-color: rgba(23, 26, 28, 1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 36px;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.content-block{
    width: 50%;
    background-color: rgba(23, 26, 28, 1);
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    gap: 36px;
}

.subtitle-container{
    width: 50%;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image-overlay{
    width: 100%;
    height: 100%;
    background: rgba(16, 17, 18, .8);
    backdrop-filter: blur(.3vmax);
    padding: 36px;
    display: flex;
    align-items: end;
    box-sizing: border-box;
}

.right-align{
    width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}

.job-list-container{
    width: 50%;
    margin-left: 60px;
}

.big-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12rem;
    color: rgba(255, 255, 255);
    margin-bottom: 100px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

li{
    width: 100%;
    background-color: rgba(23, 26, 28, 1);
    padding: 36px;
    display: flex;
    box-sizing: border-box;
}

.timeline-indicator{
    background-color: rgba(23, 26, 28, 1);
    width: 4px;
    height: 480px;
    position: absolute;
    z-index: -1;
}

.text-container{
    margin-left: 36px;
}

.large-copy{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: rgba(255, 255, 255);
    line-height: 5.5rem;
    width: 1200px;
    margin-bottom: 200px;
}

.about-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: rgba(255, 255, 255);
    line-height: 5.5rem;
    width: 1200px;
    margin: 60px;
}

.mid-copy{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(255, 255, 255);
    line-height: 2.5rem;
}

.about-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(136, 154, 163);
    line-height: 2.5rem;
    width: 50%;
}

.margin-separater {
    margin-bottom: 36px;
}

.col-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(255, 255, 255);
    line-height: 2.5rem;
    margin-bottom: 36px;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
}

.body-copy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(136, 154, 163);
    line-height: 1.5rem;
}

.block-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
}

.stat-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

.percentage-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .7rem;
    color: rgb(136, 154, 163);
    line-height: 1rem;
    width: 30%;
}