/*width*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.cursor-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cursor {
  width: 64px;
  height: 64px;
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  border-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}

.blur-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -5;
  -webkit-backdrop-filter: blur(12vmax);
          backdrop-filter: blur(12vmax);
}

.gradient-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -6;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.gradient-block {
  background: linear-gradient(to right, #40ffb3, #ff40fc);
  width: 500px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  animation: rotate 20s infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
.landing {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  position: fixed;
  height: 100%;
  width: 80px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-icon-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}

.nav-icon-container:hover {
  opacity: 0.2;
  transition: opacity 1s;
}

.nav-social-container {
  width: 100%;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-social-icon {
  width: 24px;
  height: 24px;
  margin-top: 16px;
  transition: opacity 1s;
}

.nav-social-icon:hover {
  opacity: 0.3;
  transition: opacity 1s;
}

.progress-bar-bg {
  width: 1px;
  max-width: 1px;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: rgba(255, 255, 255, 0.3);
}

.progress-bar {
  width: 100%;
  height: 0%;
  background-color: rgb(255, 255, 255);
  transition: height cubic-bezier(0.17, 0.67, 0.76, 0.99) 0.5s;
}

.nav-menu {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 18, 0.75);
  -webkit-backdrop-filter: blur(1vmax);
          backdrop-filter: blur(1vmax);
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.nav-block {
  width: 120px;
  height: 100%;
}

.menu-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: rgba(255, 255, 255, 0.3);
}

.project-container {
  width: 80%;
  height: auto;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.project-tiles {
  width: 100%;
  height: 33.3333333333%;
  display: flex;
  gap: 16px;
  text-decoration: none;
}

.project-tile {
  width: 100%;
  text-decoration: none;
}

.menu-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 8px;
  opacity: 0.2;
  transition: opacity 1s;
}

.menu-title:hover {
  opacity: 1;
}

.p1 {
  background-image: url(../Assets/Nebula/images/Optimized/Header.webp);
  background-position: center;
  background-size: cover;
}

.p2 {
  background-image: url(../Assets//Angine/images/Header.webp);
  background-position: center;
  background-size: cover;
}

.p3 {
  background-image: url(../Assets/Immersion_Lab/images/Header.webp);
  background-position: center;
  background-size: cover;
}

.p4 {
  background-image: url(../Assets/Neuron/images/Header.webp);
  background-position: center;
  background-size: cover;
}

.p5 {
  background-image: url(../Assets/Airbnb/images/Header.webp);
  background-position: center;
  background-size: cover;
}

.p6 {
  background-image: url(../Assets/Fracture/images/Header.webp);
  background-position: center;
  background-size: cover;
}

.project-hover-overlay {
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 18, 0.5);
  -webkit-backdrop-filter: blur(0.3vmax);
          backdrop-filter: blur(0.3vmax);
  display: flex;
  align-items: end;
  opacity: 0;
  transition: opacity 1s;
}

.project-hover-overlay:hover {
  opacity: 1;
}

.title-container {
  margin: 36px;
}

.project-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.project-tag {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  margin-top: 8px;
}

.page-container {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.nav-block {
  width: 80px;
  height: auto;
}

.content-container {
  width: 100%;
  height: auto;
  padding: 100px 80px 0px 80px;
}

.col-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 200px;
  gap: 100px;
}

.col-reverse {
  flex-direction: row-reverse;
}

.img-col {
  width: 100%;
  display: flex;
  gap: 36px;
}

.col-1 {
  width: 40%;
}

.col-2 {
  width: 60%;
}

.img-col-block {
  width: 100%;
  background-color: rgb(23, 26, 28);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
}

.sketchfab-container {
  width: 100%;
  background-color: rgb(23, 26, 28);
  box-sizing: border-box;
}

.contained-padding {
  padding: 60px;
  box-sizing: border-box;
}

.project-details {
  width: 100%;
  display: flex;
  margin-top: 96px;
  gap: 16px;
}

.stat-col {
  width: 100%;
  display: flex;
  gap: 16px;
}

.stat-1 {
  width: 50%;
}

.section-container {
  width: 100%;
  margin-bottom: 200px;
}

.video-wrapper {
  width: 100%;
  height: 900px;
  margin-bottom: 36px;
  background-color: red;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper-sm {
  width: 100%;
  height: 500px;
  margin-bottom: 36px;
  background-color: red;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.detail-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  margin-bottom: 200px;
  width: 100%;
  height: auto;
}

.contained-image {
  width: 100%;
  height: auto;
}

.interview-image {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.inner-block-container {
  width: 100%;
  padding: 100px;
  margin-bottom: 36px;
  background-color: rgb(23, 26, 28);
  box-sizing: border-box;
}

.triple-box-container {
  width: 100%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.tri-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.tri-grid-box {
  padding: 36px;
  background-color: rgb(23, 26, 28);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 36px;
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.content-block {
  width: 50%;
  background-color: rgb(23, 26, 28);
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  gap: 36px;
}

.subtitle-container {
  width: 50%;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-overlay {
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 18, 0.8);
  -webkit-backdrop-filter: blur(0.3vmax);
          backdrop-filter: blur(0.3vmax);
  padding: 36px;
  display: flex;
  align-items: end;
  box-sizing: border-box;
}

.big-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12rem;
  color: rgb(255, 255, 255);
  margin-bottom: 100px;
}

.large-copy {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  line-height: 5rem;
  width: 1200px;
  margin-bottom: 200px;
}

.mid-copy {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
}

.margin-separater {
  margin-bottom: 36px;
}

.col-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
  margin-bottom: 36px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  line-height: 1.5rem;
}

.body-copy {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(136, 154, 163);
  line-height: 1.5rem;
}

.block-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  line-height: 1.5rem;
}

.stat-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.percentage-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  line-height: 1.5rem;
}

.caption {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  color: rgb(136, 154, 163);
  line-height: 1rem;
  width: 30%;
}

body {
  background: rgb(16, 17, 18);
  overflow-x: hidden;
  cursor: none;
}

button {
  cursor: none;
}

a {
  cursor: none;
  transition: opacity 1s;
}

a:hover {
  opacity: 0.5;
  transition: opacity 1s;
}

.landing-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.panel {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.project-overlay {
  background: rgba(16, 17, 18, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-left: 160px;
  padding-right: 120px;
  padding-bottom: 80px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
}

.landing-hello {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.project-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  max-width: 400px;
  position: absolute;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
  margin-top: -100px;
  margin-left: -16px;
}

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  max-width: 300px;
  position: absolute;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
  margin-top: -80px;
  margin-left: -16px;
  line-height: 2rem;
}

.project-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: end;
}

.footer-detail {
  text-decoration: none;
  margin-right: 60px;
}

.footer-detail-container {
  display: flex;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.landing-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
  max-width: 520px;
  line-height: 20px;
}

.landing-tag {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  max-width: 520px;
  line-height: 20px;
}

.footer-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  max-width: 520px;
  line-height: 20px;
}

.footer-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  max-width: 520px;
  line-height: 20px;
}

.panel-button {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */